<!doctype html>
<html lang="cs">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Ležák, IPA, APA, Pšenice, Stout. Zvol si slad, chmel, uprav recepturu. Vytvoř si vlastní pivo.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Chmelovar - Vytvoř si vlastní pivo</title>

    <!-- Google Tag Manager -->
    <script>
    dataLayer = [];
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MRP3K7M');</script>
    <!-- End Google Tag Manager -->

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{{ url_for('static', path='/images/favicon.png') }}" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/LineIcons.css') }}">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/animate.css') }}">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/default.css') }}">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">


</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRP3K7M"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->

    <!--====== NAVBAR PART START ======-->

    <header class="navbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#">
                            <img src="{{ url_for('static', path='/images/hop.svg') }}" alt="Logo">
                            <h1>Chmelovar</h1>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEight" aria-controls="navbarEight" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarEight">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="page-scroll" href="#about">Nabídka</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#partners">Partneři</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#pricing">Ceník</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#contact">Kontakt</a>
                                </li>
                            </ul>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header> <!-- navbar area -->
        
    <div class="slider-area">
        <div class="bd-example">
            <div id="carouselOne" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item bg_cover active" style="background-image: url({{ url_for('static', path='/images/hero-background.jpg)') }}">
                        <div class="carousel-caption">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-sm-10">
                                        <h2 class="carousel-title mb-4">Vytvoř si vlastní&nbsp;pivo</h2>
                                        <p class="carousel-description my-2">Ležák, IPA, Pšenice. Zvol si chmel, uprav recepturu.<br>Na co máš dnes chuť?</p>
                                        <ul class="carousel-btn rounded-buttons">
                                            <li><button class="main-btn rounded-three" data-toggle="modal" data-target="#fakedoorModal" id="ctaMain">CHCI VLASTNÍ PIVO</button></li>
                                        </ul>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- container -->
                        </div> <!-- carousel caption -->
                    </div> <!-- carousel-item -->
                </div> <!-- carousel-inner -->
            </div> <!-- carousel -->
        </div> <!-- bd-example -->
    </div>

    <!--====== NAVBAR PART ENDS ======-->
    
    <!--====== ABOUT PART START ======-->

    <section id="about" class="about-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12 col-lg-12">
                    <div class="about-image text-center wow fadeInUp" data-wow-duration="0.8s" data-wow-offset="100">
                        <img src="{{ url_for('static', path='/images/beer.svg') }}" alt="Lahve piva v ruce">
                    </div>
                    <div class="section-title text-center mt-30 pb-40">
                        <h4 class="title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">Pro opravdové milovníky piva</h4>
                        <p class="text wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">&bdquo;Uvař&rdquo; si pivo online a my pro tebe zařídíme všechno ostatní. Vypít ho už musíš sám!</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
                        <div class="about-icon limit-vertical">
                            <img src="{{ url_for('static', path='/images/chemistry.svg') }}" alt="Zkumavky s pivem u počítače">
                        </div>
                        <div class="about-content media-body">
                            <h4 class="about-title">Staň se sládkem</h4>
                            <p class="text">Pivní styl, receptura, slad, chmel – vše podle tebe. Neboj, umíme ti poradit.</p>
                        </div>
                    </div> <!-- single about -->
                </div>
                <div class="col-lg-6">
                    <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.9s">
                        <div class="about-icon limit-vertical">
                            <img src="{{ url_for('static', path='/images/gift.svg') }}" alt="Dárková krabice">
                        </div>
                        <div class="about-content media-body">
                            <h4 class="about-title">Využij speciální příležitost</h4>
                            <p class="text">Originální dárek pro kamarády i zákazníky. Pořádný pití na Silvestrovskou párty. Nebo vlastní pivo do tvojí hospody?</p>
                        </div>
                    </div> <!-- single about -->
                </div>
                <div class="col-lg-6">
                    <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1s">
                        <div class="about-icon">
                            <img src="{{ url_for('static', path='/images/shipped.svg') }}" alt="Náklaďák">
                        </div>
                        <div class="about-content media-body">
                            <h4 class="about-title">Pár lahví nebo náklaďák?</h4>
                            <p class="text">Slož se s ostatními a rozdělte si várku. Nebo potřebuješ víc sudů?</p>
                        </div>
                    </div> <!-- single about -->
                </div>
                <div class="col-lg-6">
                    <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1.1s">
                        <div class="about-icon limit-vertical">
                            <img src="{{ url_for('static', path='/images/pencil-case.svg') }}" alt="Tužky a štětce">
                        </div>
                        <div class="about-content media-body">
                            <h4 class="about-title">Od etikety po skleničky</h4>
                            <p class="text">Pomůžeme ti s návrhem etikety, zajistíme dopravu nebo půjčíme pípu.</p>
                        </div>
                    </div> <!-- single about -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->

    <!--====== PARTNER LOGO PART START ======-->

    <section id="partners" class="partner-logo-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center pb-20">
                        <h3 class="title">Kdo uvaří moje pivo?</h3>
                        <p class="text">Z našich partnerů vybereme ten nejlepší minipivovar, který do puntíku splní tvoje požadavky. Tvůj recept zkontroluje zkušený sládek, aby vše vyšlo na jedničku.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center rounded-buttons">
                    <button class="main-btn rounded-three" data-toggle="modal" data-target="#fakedoorModal" id="ctaPartners">Zobrazit partnerské minipivovary</button>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PARTNER LOGO PART ENDS ======-->
    
    <!--====== PRINICNG STYLE EIGHT START ======-->

    <section id="pricing" class="pricing-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title text-center pb-20">
                        <h3 class="title">Ceník</h3>
                        <p class="text">Už víš, co budeš vařit? Výborně! Tak se pojďme podívat, kolik to bude stát.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center rounded-buttons">
                    <button class="main-btn rounded-three" data-toggle="modal" data-target="#fakedoorModal" id="ctaPrice">Kolik zaplatím?</button>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PRINICNG STYLE EIGHT ENDS ======-->

    <!--====== CONTACT TWO PART START ======-->

    <section id="contact" class="contact-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section-title text-center pb-20">
                        <h3 class="title">Jsme tu pro tebe</h3>
                        <p class="text">Chceš se na něco zeptat? Podělit se o skvělou recepturu? Do toho.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-two mt-50 wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h4 class="contact-title">Kontakt</h4>
                        <ul class="contact-info">
                            <li><i class="lni-envelope"></i> info@chmelovar.cz</li>
                            <li><i class="lni-phone-handset"></i> +420 774 216 176</li>
                        </ul>
                        <ul class="contact-info">
                            <li>IČ: 02513668</li>
                            <li>DIČ: CZ9309032117</li>
                            <li>Nejsme plátci DPH</li>
                        </ul>
                    </div> <!-- contact two -->
                </div>
                <div class="col-lg-6">
                    <div class="contact-form form-style-one mt-35 wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.5s">
                        <form id="contact-form" action="{{ url_for('contact') }}" method="post">
                            <div class="form-input mt-15">
                                <label>Jméno</label>
                                <div class="input-items default">
                                    <input type="text" placeholder="Jméno" name="name" autocomplete="name">
                                    <i class="lni-user"></i>
                                </div>
                            </div> <!-- form input -->
                            <div class="form-input mt-15">
                                <label>E-mail</label>
                                <div class="input-items default">
                                    <input type="email" placeholder="E-mail" name="email" autocomplete="email">
                                    <i class="lni-envelope"></i>
                                </div>
                            </div> <!-- form input -->
                            <div class="form-input mt-15">
                                <label>Zpráva</label>
                                <div class="input-items default">
                                    <textarea placeholder="Zpráva" name="message"></textarea>
                                    <i class="lni-pencil-alt"></i>
                                </div>
                            </div> <!-- form input -->
                            <div id="contact-form-message"></div>
                            <div class="form-input rounded-buttons mt-20">
                                <button type="submit" class="main-btn rounded-three">Odeslat</button>
                            </div> <!-- form input -->
                        </form>
                    </div> <!-- contact form -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== CONTACT TWO PART ENDS ======-->
    
    <!--====== FOOTER FOUR PART START ======-->

    <footer id="footer" class="footer-area">
        
        <div class="footer-copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="copyright text-center text-lg-left mt-10">
                            <p>Crafted by <a rel="nofollow" href="https://uideck.com">UIdeck</a> and UI Elements from <a rel="nofollow" href="https://ayroui.com">Ayro UI</a></p>
                            <p>Icons made by <a href="https://www.flaticon.com/authors/pixelmeetup" title="Pixelmeetup">Pixelmeetup</a> & <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
                        </div> <!--  copyright -->
                    </div>
                    <div class="col-lg-6">
                        <ul class="social text-center text-lg-right mt-10">
                            <li><a href="https://www.facebook.com/chmelovar"><i class="lni-facebook-filled"></i></a></li>
                            <li><a href="https://www.instagram.com/chmelovar_cz/"><i class="lni-instagram-original"></i></a></li>
                            <li><a href="https://twitter.com/chmelovar"><i class="lni-twitter-original"></i></a></li>
                        </ul> <!-- social -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>

    <!--====== FOOTER FOUR PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->  


    <!--====== MODAL PART START ======-->
      
    <div class="modal fade" id="fakedoorModal" tabindex="-1" role="dialog" aria-labelledby="fakedoorModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="fakedoorModalTitle">Buď u toho!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body call-action-area">
            <div class="d-flex">
                <div>
                    <p>Teď ještě nepřijímáme objednávky. Ale brzy to rozjedeme!</p>
                    <p class="mt-20">Pokud nám tu necháš e-mail, dáme ti vědět a <strong>dostaneš 10% slevu na první objednávku</strong>.</p>
                </div>
                <img src="{{ url_for('static', path='/images/stars.svg') }}" alt="Hvězdy a konfety" class="ml-10 d-none d-sm-block" style="max-width:20%;">
            </div>
            <div class="call-action-form mt-20">
                <div id="subscribeFormWrapper">
                    <form action="{{ url_for('subscribe') }}" method="post" id="subscribeForm">
                        <input type="email" placeholder="Tvůj e-mail" autocomplete="email" name="email">
                        <div class="action-btn rounded-buttons">
                            <button class="main-btn rounded-three">Chci 10% slevu</button>
                        </div>
                    </form>
                    <div id="subscribeFormMessage"><p class="mt-20">PS: Neboj, žádný spam.</p></div>
                </div>
            </div> <!-- call action form -->
        </div>
        </div>
    </div>
    </div>

      <!--====== MODAL PART ENDS ======-->



    <!--====== jquery js ======-->
    <script src="{{ url_for('static', path='/js/vendor/modernizr-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/vendor/jquery-1.12.4.min.js') }}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>

    <!--====== Isotope js ======-->
    <script src="{{ url_for('static', path='/js/isotope.pkgd.min.js') }}"></script>

    <!--====== Scrolling js ======-->
    <script src="{{ url_for('static', path='/js/scrolling-nav.js') }}"></script>
    <script src="{{ url_for('static', path='/js/jquery.easing.min.js') }}"></script>

    <!--====== wow js ======-->
    <script src="{{ url_for('static', path='/js/wow.min.js') }}"></script>

    <!--====== Main js ======-->
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>

</body>

</html>
